// Generated using xcconfig-extractor 0.4.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_EMPTY_BODY = YES
SKIP_INSTALL = YES
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
SWIFT_VERSION = 4.0
INFOPLIST_FILE = ActionPopoverButton/ActionPopoverButton/Info.plist
CLANG_WARN_COMMA = YES
DYLIB_CURRENT_VERSION = 1
CLANG_CXX_LIBRARY = libc++
CLANG_WARN_CONSTANT_CONVERSION = YES
PRODUCT_BUNDLE_IDENTIFIER = jp.toshi0383.ActionPopoverButton
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_ENABLE_OBJC_ARC = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
CLANG_WARN_INFINITE_RECURSION = YES
SDKROOT = iphoneos
DYLIB_INSTALL_NAME_BASE = @rpath
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
GCC_WARN_UNUSED_VARIABLE = YES
COPY_PHASE_STRIP = NO
CLANG_WARN_ENUM_CONVERSION = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_ANALYZER_NONNULL = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_UNREACHABLE_CODE = YES
VERSIONING_SYSTEM = apple-generic
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
VERSION_INFO_PREFIX = 
DYLIB_COMPATIBILITY_VERSION = 1
TARGETED_DEVICE_FAMILY = 1,2
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_MODULES = YES
CURRENT_PROJECT_VERSION = 1
CLANG_WARN_SUSPICIOUS_MOVE = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
GCC_NO_COMMON_BLOCKS = YES
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
DEFINES_MODULE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CODE_SIGN_STYLE = Automatic
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)

